.address {
    width: 232px;
    @media screen and (max-width:1199px) {
        margin-bottom: 60px;
    } 
}

.address__text {
    margin-bottom: 9px;
    font-style: normal;
    line-height: 1.71;
    color: #ffffff;
    
}

.address__link {
    display: inline-block;
    margin-bottom: 8px;
    font-style: normal;
    line-height: 1.71;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
    transition: color 250ms $cubic-bezier;

    &:last-child {
        margin-bottom: 0;
    }

    &:hover,
    &:focus {
        color: $accent-color;
    }
}