.list-works {
    @media screen and (min-width:768px) {
        display: flex;
            flex-wrap: wrap;
            margin: -15px;
}
}
.list-works__items {

    &:hover {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
            0px 4px 4px rgba(0, 0, 0, 0.06),
            1px 4px 6px rgba(0, 0, 0, 0.16);

            transition: box-shadow 250ms $cubic-bezier;

    }
    @media screen and (max-width:480px) {
        &:not(:last-child) {
                margin-bottom: 30px;
            }
    }
    @media screen and (min-width:768px) {
        margin: 15px;
        width: 354px;
    }
    @media screen and (min-width:1200px) {
        width: 370px;
    }
   
}
.img {
    @media screen and (min-width:1200px) {
        width: 370px;
    }
}
.list-works__container-texno {
    @media screen and (min-width:768px) and (max-width:1199px) {
        height: 146.91px;
    }
}

.list-works__container {
    padding: 20px 24px;
    border-right: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE;
    letter-spacing: 0.06em;
                  
}

.list-works__title {
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
   
}

.list-works__text {
    font-size: 16px;
    line-height: 1.87;
}