
.menu-container {
   
   @media screen and (max-width:767px) {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    
    width: 100vw;
    height: 100vh;
    background-color: $main-background-color;  
    overflow-y: scroll;
    z-index: 2;
    &.is-open {
      display: flex;
      
      
    }

  }
  // @media screen and (min-width:768px) {
  //  display: flex;
  //  justify-content: center;
  //  align-items: center;
  // }
}
.menu-container-two{
  @media screen and (max-width:767px) {
    position: relative;
      width: 480px;
      padding-top: 48px;
      padding-right: 83px;
      padding-bottom: 48px;
      padding-left: 40px;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-left: auto;
      margin-right: auto;
  }
 
  @media screen and (min-width:768px) {
    display: flex;
      justify-content: center;
      align-items: center;
    }
}
.menu-container__button {
position: absolute;
top: 8px;
right: 15px;
width: 40px;
  height: 40px;
  margin-left: auto;
  padding: 0;
  background-color: $main-background-color;
  border: 1px solid transparent;

  @media screen and (min-width:768px) {
    display: none;
  }
}
